		<div id="contact" id="arrow" class="content-Get-in-touch">
			<!--- container ---->
			<div class="container">
				<div class="content-portfolio">
					<a href="#">
						<%= image_tag "ftr1.png" %>
					</a>
					<p class="friend_link">友情链接:
						<a href="http://www.xinli001.com">壹心理</a>
					</p>
					<p>Copyright &copy; 2016. A Cup of Coffee. All rights reserved.
					</p>
				</div>
			</div>
			<!--- container ---->
		</div>