		<div id="contact" id="arrow" class="content-Get-in-touch">
			<!--- container ---->
			<div class="container">
				<div class="content-portfolio">
					<a href="#">
						<%= image_tag "ftr1.png" %>
					</a>
					<p>Copyright &copy; 2015. A Cup of Coffee. All rights reserved.
					</p>
				</div>
			</div>
			<!--- container ---->
		</div>