		<!-- Sticky Nav -->
		<div id="header-nav" class="header-nav">
			<div class="top-nav">
				<nav>
					<div class="logo">
						<a href="#">
							<%= image_tag "logo2.png" %>
						</a>
					</div>
					<span class="menu"></span>
					<ul>
						<li class="active"><a class="scroll" href="/">首页</a>
						<li><a href="/activities/list">活动报名</a>
						</li>
						<li><a href="/posts/list">咖啡播报</a>
						</li>
						<% @categories.each do |category| %>
						<li>
			            <%= link_to category.name, {:controller => "posts", :action => "show_by_categories",:id =>category.id}%>
			        	</li>
			            <% end %>
						<div class="clearfix"> </div>	
					</ul>
				</nav>
			</div>
		</div>
		<!-- top-nav -->
		<!-- Sticky Nav --->