		<!-- Sticky Nav -->
		<div id="header-nav" class="header-nav">
			<div class="top-nav">
				<nav>
					<div class="logo">
						<a href="#">
							<%= image_tag "logo2.png" %>
						</a>
					</div>
					<span class="menu"></span>
					<ul>
						<li class="active"><a class="scroll" href="#home">首页</a>
						</li>
						<li><a class="scroll" href="#counsel">心理咨询</a>
						</li>
						<li><a class="scroll" href="#meet">咖啡相遇</a>
						</li>
						<li><a class="scroll" href="#groupCounsel">心灵聚会</a>
						</li>
						<li><a class="scroll" href="#grow">心理师成长</a>
						</li>
						<li><a class="scroll" href="#enter">活动报名</a>
						</li>
						<li><a class="scroll" href="#activity">咖啡播报</a>
						</li>
						<li class="contact"><a class="scroll" href="#contact">联系我们</a>
						</li>	
						<div class="clearfix"> </div>	
					</ul>
				</nav>
			</div>
		</div>
		<!-- top-nav -->
		<!-- Sticky Nav --->