
    <div id="header-nav" class="header-nav">
      <div class="top-nav">
        <nav>
          <div class="logo">
            <a href="#">
              <%= image_tag "logo2.png" %>
            </a>
          </div>
          <span class="menu"></span>
          <ul>
            <li class="active"><a class="scroll" href="/">首页</a></li>
            <div class="clearfix"> </div> 
          </ul>
        </nav>
      </div>
    </div>
<div class="container">

<h1>文章列表</h1>
 
  <% @posts.each do |post| %>
     <div class="post-list-item">   
        <%= link_to truncate(post.title,:length=>50), edit_post_path(post),{:class => "post-list-title"} %><br>
        <%= truncate(strip_tags(post.content), :length=>100) %>
      </div>
  <% end %>