// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-list-img{
	width: 100px;
	height:100px;
}
.post-list-item{
    padding-bottom:10px;
	border-bottom: 1px dashed #dadada;
}
.post-list-title{
	margin-top:0px;
	font-size: 24px;
}